Scripts/
Lib/
etc/
share/
/ollama-web/
/localchat/
__pycache__/
/__pycache__/
.cache.sqlite
data_files/f1_cache/
data_files/complete_practice_files/
.vscode/settings.json
/Lib
/Scripts
/share
/etc
*.txt
all_pitstops_2018_onward.csv
checkboxPredictiveModel.py
checktabdelimited.py
combined_pitstops_fastf1_ergast.py
compare_actual_with_predicted.py
convert_delimiter.py
copiedDataModelCode.py
combine_practice_sets.py
.cache.sqlite
delete_new.py
delete_rows.py
/etc
f1-alt-analysis.py
f1-analysis-combine.py
f1-analysis-weather.py
f1-bettingOdds.py
f1-firstLap.py
f1-telemetry.py
f1_betting_odds.csv
f1_data_processing.py
f1_clean_air_analyzer.py
f1CleanAir.py
f1Predictions-preDataImport.py
f1Prediction_featureImportance.py
f1RaceWithAltResults.csv
fastF1-pitStops-example.py
fixFirstLap.py
get current year data.py
/Lib
/Lib/site-packages
live1-examply.py
livef1-practice.py
*.log
missing_gpid.py
missing_gpid_comma.py
old_raceAnalysis.py
oldPracticeRounds.py
pit_stop_fastf1_only.py
pitStops-examply.py
pitStops-fastf1-example.py
pyvenv.cfg
race_control_messages.csv
raceAnalysis081925.py
raceAnalysis_bkup.py
recipes.py
/Scripts
test.py
use of prior year data.py
secondcutandpaste.py
/share
f1Analysis/
